<div id="frontPage">
  <div class="frontPageContainer">
    <div class="buttonGroup">
      <div class="buttonTop">Shop</div>
      <div class="buttonBottom">bottom</div>
      <div class="buttonLeft">left</div>
      <div class="buttonRight">right</div>
    </div>
    <div class="frontPagePicture">
      <img src="{{logo}}" alt="" />
    </div>
  </div>
</div>
