<div id="frontPage">
  <div class="frontPageContainer">
    <div class="buttonGroup">
      <div class="buttonTop">Product</div>
      <div class="buttonBottom"></div>
      <div class="buttonLeft"></div>
      <div class="buttonRight"></div>
    </div>
    <div class="frontPagePicture">
      <img src="{{logo}}" alt="" />
    </div>
  </div>
</div>
