<div id="watchface">
  <div class="button-titles">
    <div id="top-button" class="buttonTop">Top</div>
    <div id="bottom-button" class="buttonBottom">Bottom</div>
    <div id="left-button" class="buttonLeft">Left</div>
    <div id="right-button" class="buttonRight">Right</div>
  </div>
  <div id="main-picture" class="main-picture">
      <img src="{{lunchbox}}" alt="A picture of lunchboxes" />
  </div>
  <div id="shopping-cart" class="shopping-cart-picture">
      <img src="{{shopButton}}" alt="" />
  </div>
  <div class="item-info">
    <div id="item-name" class="item-name">Lunch Box</div>
    <div id="item-cost" class="item-cost">$50</div>
  </div>
  <br>
  <hr>
  <div>
    <div id="item-dimensions">205mm x 110mm</div>
    <div id="item-misc">100 units, material, weight</div>
  </div>
</div>
