<div id="watchface">
  <div class="button-titles">
    <div id="top-button" class="top-button-title">Top</div>
    <div id="bottom-button" class="bottom-button-title">Bottom</div>
    <div id="left-button" class="left-button-title">Left</div>
    <div id="right-button" class="right-button-title">Right</div>
  </div>
  <div id="main-picture" class="main-picture">
      <img src="{{lunchbox}}" alt="A picture of lunchboxes" />
  </div>
  <div id="shopping-cart" class="shopping-cart-picture">
      <img src="{{shopButton}}" alt="" />
  </div>
  <div class="item-info">
    <div id="item-name" class="item-name">Lunch Box</div>
    <div id="item-cost" class="item-cost">$50</div>
  </div>
  <br>
  <hr>
  <div>
    <div id="item-dimensions">205mm x 110mm</div>
    <div id="item-misc">100 units, material, weight</div>
  </div>
</div>
