#watch-face {
}

.main-picture {
  height: 60px;
  transform: translate(0px, -10px);
}

.shopping-cart-picture {
  transform: translate(180px, -0px);
  height: 0px;
}

.item-info {
  font-weight: bold;
  transform: translate(0px, 40px);
}

.item-name {
  float: left;
}

.item-cost {
  float: right;
  padding-right: 35px;
}

hr {
  width:210px;
}
