.productInfo {
  transform: translate(0px, -10px);
  width: 212px;
}

.productInfoTitle {
  background-color: green;
  padding-left: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius:5px;
  margin-bottom: 5px;
}

.productInfoInfo {
  color: green;
  overflow-wrap: break-word;
}

.recycleInfo {
  margin-bottom: 3px;
  background-color: lightgreen;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 1px;
}

.greenhouseInfo {
    margin-bottom: 3px;
    background-color: lightgreen;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 1px;
}

.leafInfo {
  margin-bottom: 3px;
  background-color: lightgreen;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 1px;
}
