<div id="watchface">
  <div class="button-titles">
    <div id="top-button" class="buttonTop"></div>
    <div id="bottom-button" class="buttonBottom"></div>
    <div id="left-button" class="buttonLeft"></div>
    <div id="right-button" class="buttonRight"></div>
  </div>
  <div class="productInfo">
    <div class="productInfoTitle">Product Info</div>
    <div class="productInfoInfo">
      <div class="recycleInfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
      <div class="greenhouseInfo">Ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      <div class="leafInfo">Ut enim ad minima veniam</div>
    </div>
  </div>
<input class = "buyButton" type = 'button' value = "Buy"></input>
</div>
