<div id="team">
    <h1>Made by:</h1>
    <ul>
        <!-- TODO: Add your name as a list element -->
        <li>Ray</li>
        <li>Matthew</li>
        <li>Isabelle</li>
        <li>Ellie</li>
        <li><strong>Su</strong></li>

    </ul>
</div>
