<div class="productMenu">
    <div class="productPageTitle">Industrial</div>
    <div class="IndustrialSelectPagePicture">
        <img class="productPageImage" src="{{industrialLogo}}" alt="hello world" />
    </div>
    <div class="productPageDescription">Food packaging, parcels</div>
</div>

