<div class="productMenu">
    <div class="productPageTitle">Medium</div>
    <div class="IndustrialSelectPagePicture">
        <img class="productPageImage" src="{{mediumLogo}}" alt="hello world" />
    </div>
    <div class="productPageDescription">Food packaging, parcels</div>
</div>
