#confirmPageContainer {
    text-align: center;
    padding-left: 2em !important;
    transform: translate(-18px,10px);
}

.confirmMessage{

    margin-top: 30px;
}

#continueButton {
    margin-top: 10px;
    color: black;
    border: none;
}
#label {
    text-align: center;
    margin-top: 8px;
}
