<div class = "Page">
    <div class = "imgContainer">
        {{!-- <img src = ""/> --}}
    </div>

    <div class = "confirmMessage">
        Your order has been confirmed!
    </div>

    <hr>

    <div class = "priceInfo">
        Lunch boxes     $50
    </div>

    <input type='button' value ='Continue Shopping?'></input>

</div>
