
<div id = "confirmPageContainer">
    <div class = "imgContainer">
        <img src = "../../../images/check_circle.png"/>
    </div>
    <div class = "confirmMessage">
        Your order has been confirmed!
    </div>
    <hr>
    <div class = "priceInfo">
        Lunch boxes     $50
    </div>
    <div class = "imgContainer">
        <img src = "../../../images/home_icon.png"/>
    </div>
    {{!-- <input id = "continueButton" type='button' value ='Continue Shopping?'></input>
    <div id = "label">Home</div> --}}
</div>
