<div class="productMenu">
    <div class="productPageTitle">Small</div>
    <div class="IndustrialSelectPagePicture">
        <img class="productPageImage" src="{{smallLogo}}" alt="hello world" />
    </div>
    <div class="productPageDescription">Food packaging, parcels</div>
</div>
